[submodule "spotifish-importer"]
	path = spotifish-importer
	url = https://github.com/J-Rosser-UK/spotifish-importer.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/J-Rosser-UK/spotifish-frontend.git
